
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: 'IBM Plex Sans', sans-serif;
}

.container {
  margin: 100px auto;
  padding: 50px 200px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 700px;
  border-radius: 10px;
  background-color: rgb(15, 15, 15);
}

.container h1 {
  margin: 70px 120px 50px;
  color: white;
  font-size: 32px;
}

.container .box {
  width: 160px;
  height: 160px;
  background-color: rgb(30, 30, 30);
  margin: auto;
  text-align: center;
  color: grey;
  border-radius: 10px;
  border: solid 1px rgb(15, 15, 15);
}

.container .box:hover {
  color: white;
}

.container .box figure {
  width: 160px;
  height: 160px;
  border: solid 1px rgb(15, 15, 15);
  transition: 500ms ease;
  border-radius: 10px;
  overflow: hidden;
}

.container .box:hover figure {
  border: solid 1px white;
  transition: 500ms ease;
}

.container .box .avatar {
  transition: 500ms ease;
}

.container .box:hover .avatar {
  border: solid 1px white;  
  transform: scale(1.2);
  transition: 500ms ease;
}

.container .box .frame {
  width: 160px;
  height: 160px;
  border-radius: 10px;
  border: solid 1px rgb(15, 15, 15);
  transition: 500ms ease;
}

.container .box .frame .circulo {
  position: relative;
  top: 50px;
  left: 19px;
}

.container .box .frame .horizontal {
  position: relative;
  top: 23px;
  left: -30px;
}

.container .box .frame .vertical {
  position: relative;
  top: 34px;
  left: -50px;
}

.container .box:hover .frame {
  filter: brightness(2);
  border: solid 1px white;
  transition: 500ms ease;
}

.container .box span {
  position: relative;
  top: 20px;
  cursor: default;
  transition: 500ms ease;
}

.container button {
  margin-top: 80px;
  padding: 15px 45px;
  font-size: 16px;
  color: white;
  background-color: rgb(15, 15, 15);
  border: solid 1px white;
  border-radius: 10px;
}

.container button:hover {
  background-color: white;
  color: black;
  transition: 500ms ease;
}